/* widths */
@max-content-width: 80em;
@sm-screen: 35.5em;
@md-screen: 48em;
@lg-screen: 64em;
@xl-screen: 80em;

/* colors */
@primary-dark: #1f1f1f;
@primary-light: #f5f5f5;

@grad-blue: rgba(61, 15, 244, 100%);
@grad-purple: rgb(173, 15, 244, 100%);
@primary-grad: linear-gradient(to bottom, fadeout(@grad-blue, 20%), @grad-purple);

html, body, #root {
  height: 100%;
}

body {
  background-color: @primary-dark;
}

.content-wrap {
  margin: 0 auto;
  //max-width: @content-width;
}

.deck-slide-indicator {
  display: none;
  opacity: 1;
  max-height: 1em;
  transition: opacity 1s, max-height 1s;

  @media(max-width: @sm-screen) {
    color: fadeout(@primary-light, 20%);
    display: block;
    margin: -1em auto 2em;
    text-align: center;

    &::after {
      border: solid fadeout(@primary-light, 20%);
      border-width: 0 3px 3px 0;
      content: "";
      display: inline-block;
      padding: 0.25em;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  &.collapsed {
    opacity: 0;
    max-height: 0;
  }
}

.movie-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em 0.5em 2em;

  @media(max-width: @md-screen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media(max-width: @sm-screen) {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;

    &:after {
      content: "";
      flex: 0 0 0.5em;
    }
  }

  .movie-card {
    background-color: @primary-light;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 0.5em;
    min-width: @md-screen/4 + 1;
    max-width: 14.375em;
    flex: 1;
    text-align: center;

    @media(max-width: @md-screen) {
      &:nth-child(odd) {
        justify-self: end;
      }
    }

    .poster {
      img {
        border-radius: 10px;
        display: block;
        width: 100%;
      }
    }

    .info {
      display: flex;
      justify-content: space-around;
      padding: 0.5em 0;

      /* these colors taken from bootstrap buttons */
      .G {
        color: white;
        background-color: #5cb85c;
        border-color: #4cae4c;
      }

      .PG {
        color: white;
        background-color: #5bc0de;
        border-color: #46b8da;
      }

      .PG-13 {
        color: white;
        background-color: #f0ad4e;
        border-color: #eea236;
      }

      .R {
        color: white;
        background-color: #d9534f;
        border-color: #d43f3a;
      }

      .runtime {
        border-color: #999;
        background-color: white
      }
    }

    .showtimes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0.5em;
      grid-row-gap: 0.5em;
      padding: 0.25em;

      span {
        color: white;
        background-color: #337ab7;
        border-color: #2e6da4;
      }
    }

    span {
      border-radius: 5px;
      border: 1px solid #DDD;
      min-width: 5em;
      padding: 0.25em;
    }
  }
}


@media (max-width: 625px) {
  #movie-grid {
    grid-template-columns: 1fr 1fr;
  }

  #ticket-info {
    grid-template-areas: "title"
                         "desc"
                         "2D"
                         "3D";
  }

}

.caret {
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  display: inline-block;
  height: 0;
  margin-left: 20px;
  width: 0;
  vertical-align: middle;
}

/* inherited from reeldeal.css */

.title-1 {
  font-size: 1.5em;
  font-weight: 900;
}
.title-2 {
  font-size: 1.5em;
  font-weight: 100;
}
.pure-table td {
  text-align: center;
}
.pure-u-md-1-7 {
  width: 14.2857%;
}
.sm-date-menu {
  margin-bottom: 2em;
  text-align: center;
}
.sm-date-menu select {
  width: 90%
}
.date-selector {
  border-right: 1px solid #fbfbfb;
  box-sizing: border-box;
}
.date-selector a {
  text-decoration: none;
  color: white;
}
.ds-last {
  border-right: 0px;
}
.ds-selected {
  background: black;
}
.ds-arrow-container {
  margin-bottom: 2em;
}

#reald3d-logo {
  background-image: url(../img/reald3d.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  display: block;
}
