@max-content-width: 80em;

@sm-screen: 35.5em;
@md-screen: 48em;
@lg-screen: 64em;
@xl-screen: 80em;

html, body, #root {
  height: 100%;
}

body {
  background-color: #1f1f1f;
}

header {
  height: 20em;

  .gradient-overlay {
    background-image: linear-gradient(to bottom, rgba(61, 15, 244, 80%), rgb(173, 15, 244, 100));
    background-image: linear-gradient(to bottom, rgba(61, 15, 244, 80%), rgb(173, 15, 244, 100)), url('../img/IMG_7137.jpg');
    background-position: top center;
    background-size: cover;
    height: 100%;
    padding-top: 0.001em;

    h1 {
      color: #f5f5f5;
      font-size: 2.5em;
      padding-left: 0.67em;

      @media(max-width: 24em) {
        padding-left: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.now-showing-selector {
  font-size: 1.5em;
  margin: -9em auto 2em;
  text-align: center;

  @media(max-width: 24em) {
    font-size: 1.25em;
  }

  label {
    font-size: 1.5em;
    color: #f5f5f5;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;

    @media(max-width: 24em) {
      font-size: 1.25em;
    }
  }
}

.content-wrap {
  margin: 0 auto;
  //max-width: @content-width;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em;
  max-width: @max-content-width;
  margin: 0 auto 2em;

  @media(max-width: 24em) {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
  }


  .movie-card {
    background-color: #f5f5f5;
    border: 1px solid #DDD;
    border-radius: 10px;
    margin: 0.5em;
    min-width: 13.125em;
    flex: 1;
    text-align: center;

    .poster {
      img {
        border-radius: 10px;
        display: block;
        width: 100%;
      }
    }

    .info {
      display: flex;
      justify-content: space-around;
      padding: 0.5em 0;

      /* these colors taken from bootstrap buttons */
      .G {
        color: white;
        background-color: #5cb85c;
        border-color: #4cae4c;
      }

      .PG {
        color: white;
        background-color: #5bc0de;
        border-color: #46b8da;
      }

      .PG-13 {
        color: white;
        background-color: #f0ad4e;
        border-color: #eea236;
      }

      .R {
        color: white;
        background-color: #d9534f;
        border-color: #d43f3a;
      }

      .runtime {
        border-color: #999;
        background-color: white
      }
    }

    .showtimes {
      display: flex;
      flex-wrap: wrap;
      padding: .25em;

      span {
        color: white;
        background-color: #337ab7;
        border-color: #2e6da4;
        margin: .25em;
      }
    }

    span {
      border-radius: 5px;
      border: 1px solid #DDD;
      min-width: 5em;
      padding: 0.25em;
    }
  }
}


/* before react styles */

#date-viewer {
  text-align: center;
  margin-bottom: 1em;

  h1 {
    display: inline;
  }

  form {
    display: inline;

    select {
      margin-top: -12px;
    }
  }
}

#date-selector {
  form {
    height: 0;
    padding-left: 1em;
    padding-right: 1em;

    select {
      height: 3.1em;
      width: 100%;
      position: relative;
      top: -3.1em;
      opacity: 0;
    }
  }
}

#ticket-info {
  display: grid;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  padding: 1em;
  grid-template-areas: "title title"
                       "desc desc"
                       "2D 3D";

  .info-title { grid-area: title; }
  .info-desc { grid-area: desc; }
  #2D { grid-area: 2D; }
  #3D { grid-area: 3D; }

  p {
    margin: 0;
  }
}

#theater-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  padding: 0 2em 2em 2em;

  .section-title {
    color: black;
    font-weight: 500;
  }
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  padding: 0 2em 2em 2em;
}

.info-title {
  text-align: center;
}

@media (max-width: 625px) {
  #date-viewer h1 {
    display: block;
  }

  #movie-grid {
    grid-template-columns: 1fr 1fr;
  }

  #ticket-info {
    grid-template-areas: "title"
                         "desc"
                         "2D"
                         "3D";
  }

  #theater-info {
    grid-template-columns: 1fr;
  }
}

/* inherited from reeldeal.css */

.title-1 {
  font-size: 1.5em;
  font-weight: 900;
}
.title-2 {
  font-size: 1.5em;
  font-weight: 100;
}
.pure-table td {
  text-align: center;
}
.pure-u-md-1-7 {
  width: 14.2857%;
}
.sm-date-menu {
  margin-bottom: 2em;
  text-align: center;
}
.sm-date-menu select {
  width: 90%
}
.date-selector {
  border-right: 1px solid #fbfbfb;
  box-sizing: border-box;
}
.date-selector a {
  text-decoration: none;
  color: white;
}
.ds-last {
  border-right: 0px;
}
.ds-selected {
  background: black;
}
.ds-arrow-container {
  margin-bottom: 2em;
}
#reald3d-logo {
  background-image: url(../img/reald3d.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.movie-contianer {

}
.movie-table {
  width: 100%;
}
.movie-poster {
  padding: 0 !important;
}
.movie-poster img {
  display: block;
  width: 100%;
}
